<script id="edit" type="text/html">
    <form>
        <div>
            <input data-bind="value: Name" /><br/>
            <input data-bind="value: Age" />
        </div>
        <button id="saveBtn" type="button" data-bind="click: SwitchTemplate">Save</button><button id="cancelBtn" type="button" data-bind="click: Cancel">Cancel</button>
    </form>
</script>

