<script id="readOnly" type="text/html">
    <div>
        <strong data-bind="text: Name"></strong><br/>
        <strong data-bind="text: Age"></strong>
    </div>

    <button id="editBtn" data-bind="click: SwitchTemplate">Edit</button>
</script>